body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
}

textarea {
  width: 90%;
  height: 350px;
  font-size: 16px;
  padding: 10px;
  resize: none;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
